body {
  overflow: hidden;
}
.home {
  /* min-height: 100vh; */
  background-image: url('../assets/images/stephen-niemeier.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
